{% extends 'base.html.twig' %}

{% block title %}Modification d'un média{% endblock %}

{% block body %}
    <div class="page-content container page-admin">
        <h1>Modification d'un média</h1>

        {{ include('media/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('app_media_index') }}" class="btn-black">Retour à la liste</a>

        {{ include('media/_delete_form.html.twig') }}
    </div>
{% endblock %}
