{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<style>
    .banner {
        height: 60vh;
        position: relative;
    }

    .banner::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
    }

    .banner h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 2.6rem;
        z-index: 1;
        width: 90%;
        text-align: center;
        margin: 0;
        font-style: italic;
    }

    .banner img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .listing-products, .listing-categories {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    .listing-products h2, .listing-categories h2 {
        width: 100%;
        margin-bottom: 20px;
    }

    .product-item {
        max-width: 100%;
    }

    .listing-categories a {
        text-decoration: none;
        color: #fff;
        margin: 10px;
        flex: 1 1 300px;
        max-width: 400px;
        position: relative;
        transition: all 0.3s;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.16);
    }

    .listing-categories a:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.21), 0 6px 6px rgba(0,0,0,0.25);
    }

    .listing-categories a figure {
        width: 100%;
        height: 400px;
        overflow: hidden;
        margin: 0;
    }

    .listing-categories a:hover figure img {
        transform: scale(1.05);
        transition: all 0.3s;
    }

    .listing-categories .content-category figure img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    .listing-categories .content-category .infos {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        width: 100%;
        background-color: #fff;
        color: #000;
    }

    .content-category:hover figure img {
        transform: scale(1.05);
        transition: all 0.3s;
    }

    .listing-categories .content-category figure {
        width: 100%;
        height: 400px;
        overflow: hidden;
        margin: 0;
    }

    .listing-categories .content-category .infos-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #about {
        margin: 100px auto
    }

    #about .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    #about .left {
        width: 60%;
        min-width: 300px;
        padding-right: 70px;
    }

    #about .right {
        width: 40%;
    }

     #about .right img {
        width: 100%;
        height: 100%;
        max-height: 400px;
        object-fit: cover;
        border-radius: 10px;
     }

     @media only screen and (max-width: 768px) {
        #about .left {
            width: 100%;
            padding-right: 0;
        }

        #about .right {
            width: 100%;
            margin-top: 30px;
        }
     }
</style>

{# Bannière #}
<div class="banner">
    <img src="/uploads/vetements_home.jpeg" alt="Banner">
    <h1>Découvrez l'essence de l'élégance<br/> à La Fabrique de Style</h1>
</div>

{# Contenu #}
<div class="page-content container">
    <div class="listing-products">
        <h2>Produits à la une</h2>
        {% set count = 0 %}
        {% for product in products %}
            {% if count < 4 and product.available %}
                {% include '_parts/product-item.html.twig' %}
                {% set count = count + 1 %}
            {% endif %}
        {% endfor %}
    </div>

    <section id="about">
        <div class="row">
            <div class="left">
                <h2>Qui sommes-nous ?</h2>
                <p>La Fabrique de Style est une boutique en ligne de vêtements et accessoires pour hommes et femmes. Nous proposons des produits de qualité à des prix abordables. Découvrez notre collection et trouvez le style qui vous correspond. Notre entreprise a été créée en 2024 par une équipe de passionnés de mode. Nous avons à coeur de vous proposer des produits tendances et de qualité. Nous travaillons avec des fournisseurs locaux et internationaux pour vous offrir un large choix de produits. Nous mettons un point d'honneur à vous satisfaire et à vous offrir une expérience d'achat agréable. N'hésitez pas à nous contacter pour toute question ou demande d'information.
                </p>
            </div>
            <div class="right">
                <img src="/uploads/about.avif" alt="Vêtements">
            </div>
        </div>
    </section>

    <div class="listing-categories">
        <h2>Nos catégories</h2>
        {% for category in categories %}
            <a href="{{ path('app_category_show', { 'id' : category.id }) }}">
                <div class="content-category">
                    <figure>
                        <img src="../uploads/{{ category.media }}" alt="{{ category.name }}">
                    </figure>
                    <div class="infos">
                        <div class="infos-head">
                            <h3>{{ category.name }}</h3>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
