{# templates/_parts/footer.html.twig #}

<style>
    #footer {
        background-color: #000;
        color: #fff;
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    #footer p {
        margin: 0;
    }

    .copyright {
        font-size: 12px;
    }
</style>


<footer id="footer">
    <div class="footer-nav">
    </div>
    <div class="container copyright">
        <p>&copy; 2024 - Eboutique. Tous droits réservés. Site réalisé par Sébastien Burnet et Quentin Boulay</p>
    </div>
</footer>