{% extends 'base.html.twig' %}

{% block title %}Modification d'une catégorie{% endblock %}

{% block body %}
    <div class="page-content container">
        <h1>Modification d'une catégorie</h1>

        {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('category/_delete_form.html.twig') }}

        <a href="{{ path('app_category_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
