{% extends 'base.html.twig' %}

{% block title %}Création d'une catégorie{% endblock %}

{% block body %}
    <div class="page-content container page-admin">
        <h1>Création d'une catégorie</h1>

        {{ include('category/_form.html.twig') }}

        <a href="{{ path('app_category_index') }}" class="btn-black">Retour à la liste</a>
    </div>
{% endblock %}
