<form method="post" action="{{ path('app_cart_add', {'id': product.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('add_to_cart' ~ product.id) }}">
    <button type="submit" class="btn-gold add-to-cart"><i class="fa-solid fa-cart-plus"></i>&nbsp;Ajouter au panier</button>
</form>