{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
<style>
    h1 {
        margin-bottom: 30px
    }

    .introduction {
        margin-bottom: 50px;
        max-width: 65%;
    }

    .layout-shop {
        display: flex;
        flex-wrap: wrap;
    }

    .listing-products {
        width: 77%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 25px;
    }

    .filter-sidebar {
        width: 23%;
        padding: 20px;
        margin-top: 5px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.16);
        border-radius: 10px;
    }

    .filter-sidebar h2 {
        margin-top: 0;
        padding-bottom: 12px;
        border-bottom: 1px solid lightgrey
    }

    .filter-sidebar ul {
        padding: 0;
        margin: 10px 0;
    }

    .filter-sidebar ul li {
        list-style: none;
    }

    .filter-sidebar ul li a {
        padding: 10px 0;
        display: block;
        text-decoration: none;
        color: #000;
        transition: all .3s;
    }

    .filter-sidebar ul li a:hover {
        color: #ffcc00;
    }

    .breadcrumb {
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 0;
    }
</style>

<div class="page-content container">
    {% block breadcrumb %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ path(breadcrumb.route) }}">{{ breadcrumb.title }}</a></li>
                {% endfor %}
            </ol>
        </nav>
    {% endblock %}
    <h1>Boutique</h1>
    <p class="introduction">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce congue augue at eros porttitor varius. Nunc velit lectus, imperdiet nec ultrices at, sollicitudin semper justo. Duis maximus mi sit amet erat pellentesque, at aliquam odio varius. Duis vulputate lacus felis, quis pharetra turpis vehicula ullamcorper. Nulla et sagittis urna. Aliquam et hendrerit augue. Sed suscipit at quam non pulvinar. Nulla ultricies fermentum accumsan. Curabitur eu tortor felis. Aliquam accumsan facilisis dui, eu laoreet nisi efficitur et.</p>

    <div class="layout-shop">
        <div class="filter-sidebar">
            <h2>Catégories</h2>
            <div class="listing-categories">
                <ul>
                    {% if categories %}
                        {% for category in categories %}
                            <li>
                                <a href="{{ path('app_category_show', { 'id' : category.id }) }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="listing-products">
            {% for product in products %}
                {% if product.available %}
                    {% include '_parts/product-item.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
