{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
<style>
    h1 {
        margin-bottom: 30px
    }

    .introduction {
        margin-bottom: 50px;
        max-width: 65%;
    }

    .layout-shop {
        display: flex;
        flex-wrap: wrap;
    }

    .listing-products {
        width: 77%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 25px;
    }

    .filter-sidebar {
        width: 23%;
        padding: 20px;
        margin-top: 5px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.16);
        border-radius: 10px;
    }
    
    @media only screen and (max-width: 768px) {
        .filter-sidebar, .listing-products {
            width: 100%;
        }
        .listing-products {
            margin-top: 30px;
            padding-left: 0;
        }
    }

    .filter-sidebar h2 {
        margin-top: 0;
        padding-bottom: 12px;
        border-bottom: 1px solid lightgrey
    }

    .filter-sidebar ul {
        padding: 0;
        margin: 10px 0;
    }

    .filter-sidebar ul li {
        list-style: none;
    }

    .filter-sidebar ul li a {
        padding: 10px 0;
        display: block;
        text-decoration: none;
        color: #000;
        transition: all .3s;
    }

    .filter-sidebar ul li a:hover {
        color: #ffcc00;
    }
</style>

<div class="page-content container">
    
    {% block breadcrumb %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="{{ path(breadcrumb.route) }}">{{ breadcrumb.title }}</a><span>/</span></li>
                {% endfor %}
            </ol>
        </nav>
    {% endblock %}

    <h1>Boutique</h1>
    <p class="introduction">Découvrez notre vaste sélection de produits de qualité, soigneusement sélectionnés pour répondre à tous vos besoins et désirs. Que vous recherchiez des vêtements tendance, des accessoires élégants, des gadgets innovants ou des articles pour la maison, nous avons ce qu'il vous faut. Parcourez nos différentes catégories pour trouver exactement ce que vous cherchez. Que vous soyez à la recherche de cadeaux uniques pour vos proches ou de quelque chose pour vous faire plaisir, notre boutique regorge de trésors qui sauront vous séduire.</p>

    <div class="layout-shop">
        <div class="filter-sidebar">
            <h2>Catégories</h2>
            <div class="listing-categories">
                <ul>
                    {% if categories %}
                        {% for category in categories %}
                            <li>
                                <a href="{{ path('app_category_show', { 'id' : category.id }) }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="listing-products">
            {% for product in products %}
                {% if product.available %}
                    {% include '_parts/product-item.html.twig' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
