/* Reset des styles */
* {
    box-sizing: border-box;
}

/* Styles de base */
body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.page-content {
    padding: 70px 0;
    min-height: calc( 100vh - 108px );
}

/* Boutons */
.btn-black {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    transition: all .3s;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
}

.btn-black:hover {
    background-color: #fff;
    color: #000;
}

.btn-no-border {
    color: #000;
    transition: all .3s;
    text-decoration: none;
    padding: 8px 12px;
}

.btn-no-border:hover {
    text-decoration: underline;
}

.btn-danger {
    background-color: #d52222;
    color: #fff;
    border: 2px solid #d52222;
    transition: all .3s;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #fff;
    color: #d52222;
}

.btn-gold {
    display: inline-block;
    background-color: #e7ba07;
    color: #fff;
    border: 2px solid #e7ba07;
    transition: all .3s;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 60px;
}

.btn-gold:hover {
    background-color: #fff;
    color: #e7ba07;
}

.btn-gold i {
    margin-right: 5px;
}

/* Tableaux */
.table-list {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.table-list thead {
    background-color: #000000;
    color: #fff;
}

.table-list tbody tr:nth-child(even) {
    background-color: #eeeeee;
}

.table-list td, .table-list th {
    padding: 10px 0;
    text-align: center;
}

/* Actions administrateurs */
.admin-actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
    padding: 12px 30px;
    margin-bottom: 30px;
    color: #fff;
}

.admin-actions a {
    background-color: #fff;
    border: 2px solid #fff;
    color: #000;
    padding: 8px 12px;
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .3s;
}

.admin-actions a:hover {
    background-color: transparent;
    color: #fff;
}

/* Breadcrumb */
.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
}

.breadcrumb span {
    padding: 0 5px;
}

.breadcrumb li a {
    color: #000;
    text-decoration: none;
}

.breadcrumb li:last-child a {
    color: grey;
}

.breadcrumb li:last-child span {
    display: none;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

/* Card Produit */
.card-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.16);
    border-radius: 10px;
}

.card-product .product-info {
    display: flex;
}

.card-product .product-info img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 20px;
}