{% extends 'base.html.twig' %}

{% block title %}Modification de la commande{% endblock %}

{% block body %}
    <div class="page-content container">
        <h1>Modification de la commande</h1>

        {{ include('order/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('order/_delete_form.html.twig') }}
        
        <a href="{{ path('app_order_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
