{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle commande{% endblock %}

{% block body %}
    <div class="page-content container page-admin">
        <h1>Création d'une nouvelle commande</h1>

        {{ include('order/_form.html.twig') }}

        <a href="{{ path('app_order_index') }}" class="btn-black">Retour à la liste</a>
    </div>
{% endblock %}
