{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <div class="page-content container">
        <h1>Order</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ order.id }}</td>
                </tr>
                <tr>
                    <th>OrderNumber</th>
                    <td>{{ order.orderNumber }}</td>
                </tr>
                <tr>
                    <th>Valid</th>
                    <td>{{ order.valid ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>DateTime</th>
                    <td>{{ order.dateTime ? order.dateTime|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
